/***************************************/
div.ttbm_filter.leftSidebar,
div.filter_top_bar,
div.search_result_empty,
div.filter_item {-webkit-box-shadow: 0 8px 12px rgb(51 65 80 / 6%), 0 14px 44px rgb(51 65 80 / 11%);box-shadow: 0 8px 12px rgb(51 65 80 / 6%), 0 14px 44px rgb(51 65 80 / 11%);}
/**********Top Static Filter*****************************/
div.ttbm_top_filter {margin: 0 0 var(--default-mp) 0;}
div.ttbm_top_filter .dButton,
div.ttbm_top_filter label {margin: var(--default-mp) var(--default-mp) 0 0;font-weight: var(--fw-bold);}
div.ttbm_top_filter > :last-child {margin: var(--default-mp) 0 0 0;}
div.ttbm_top_filter .formControl {
	background-color: var(--theme-color_aa);
	border-color: var(--theme-color);
	border-radius: 0;min-width: 200px;
	color: var(--theme-alternate-color);
	font-weight: var(--fw-medium);
}
div.ttbm_top_filter .formControl:focus{background-color: var(--theme-color_cc);}
div.ttbm_top_filter .formControl::placeholder {color: var(--theme-alternate-color);}
div.ttbm_top_filter.ttbm_filter .formControl {background-color: #FFF;color: inherit;border: 1px solid var(--border_color);}
/*************Left Filter section**************************/
div.left_filter {display: -webkit-flex;display: flex;}
div.ttbm_filter.leftSidebar {width: 100%;display: block;background-color: #FFF;padding: var(--default-mp);margin: 0 0 var(--default-mp) 0;}

/***************************************/
div.search_result_empty {
	display: none;font-weight: var(--fw-medium); font-size: var(--font-size-h3); color: var(--warning_color);text-align: center;
	width: 100%;background-color: #FFF;padding: var(--default-mp);margin: var(--default-mp) 0;
}
div.filter_top_bar {font-size: var(--font-size-h3); width: 100%;background-color: #FFF;padding: var(--default-mp-xs);margin: 0 0 var(--default-mp-xs) 0;}
div.filter_short_result { font-size: var(--font-size-h5); color: gray;text-align: center;margin: var(--default-mp-xs) 0 0 0;}
/***************************************/
div.all_filter_item > div {margin: var(--default-mp-xs_negative);}
div.all_filter_item > div.modern {margin: 0;}
/****************/
div.filter_item {
	display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;
	background-color: #FFF;color: var(--default-color);
	margin: var(--default-mp-xs);padding: var(--default-mp-xs);
	position: relative;overflow: hidden;width: calc(25% - var(--default-mp));
}
div.modern div.filter_item {margin: 0 0 var(--default-mp) 0;-webkit-flex-direction: initial;flex-direction: initial;-webkit-justify-content: space-between;justify-content: space-between;}
div.modern div.filter_item,
div.grid_1 {width: 100%;}
div.grid_2 {width: calc(50% - var(--default-mp));}
div.grid_3 {width: calc(33.333333% - var(--default-mp));}
div.grid_4 {width: calc(25% - var(--default-mp));}
div.grid_5 {width: calc(20% - var(--default-mp));}
div.grid_6 {width: calc(16.66666667% - var(--default-mp));}
div.grid_7 {width: calc(14.285715% - var(--default-mp));}
div.grid_8 {width: calc(12.5% - var(--default-mp));}
div.grid_9 {width: calc(11.1111111111% - var(--default-mp));}
div.grid_10 {width: calc(10% - var(--default-mp));}
/***************************************/
div.ttbm_list_title {margin: var(--default-mp-xs) 0 0 0;}
div.ttbm_list_title a {font-size: inherit;color: inherit !important;font-weight: inherit;}
div.modern .ttbm_list_title,
div.modern .ttbm_list_title > * {margin: 0;font-size: var(--font-size-h4);font-weight: bold;}
/***************************************/
div.ttbm_list_info {display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;margin: var(--default-mp-xs) 0 0 0;overflow: hidden;}
div.ttbm_list_info span {font-size: var(--font-size-h6); color: var(--theme-color);}
div.ttbm_list_info > span:first-child {margin: 0 var(--default-mp-xs) 0 0;}
/*************************/
div.ttbm_description {display: block;-webkit-flex: auto;flex: auto;}
div.filter_item div.ttbm_description > div {overflow: hidden;text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 3;line-clamp: 3;-webkit-box-orient: horizontal; max-height: 4.65em; line-height: 1.5em;}
/***************************************/
div.ttbm_list_inline ul,
div.ttbm_list_inline ul li,
div.ttbm_list_inline {display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
div.ttbm_list_inline {margin: var(--default-mp-xs) 0 0 0;}
div.ttbm_list_inline ul li {padding: 5px 10px; margin: 0 7px 7px 0;border: 1px solid var(--border_color); border-radius: 5px;}
div.ttbm_list_inline ul li span {background-color: transparent;width: auto;height: auto;color: var(--theme-color); min-width: auto;margin: 0;}
div.ttbm_list_inline div.ttbm_list_info {margin: 0 var(--default-mp-xs) 0 0;}
/***************************************/
.placeholderLoader div.absolute_item[data-placeholder] {position: absolute;}
div.absolute_item {position: absolute;right: var(--default-mp-xs);top: var(--default-mp-xs);z-index: 1;max-width: calc(100% - var(--default-mp-xs) - var(--default-mp-xs));}
.absolute_item .ttbm_list_info {
	color: var(--theme-alternate-color); background-color: var(--theme-color); font-size: var(--fs);padding: 5px var(--default-mp-xs);margin: 0;
	-webkit-justify-content: center;justify-content: center;
}
div.absolute_item.bottom {
	text-align: center;bottom: var(--default-mp-xs);right: var(--default-mp-xs);top: initial;left: var(--default-mp-xs);
	padding: 5px;
	font-size: var(--font-size-h6);
	background-color: #0007;
}
div.absolute_item * {color: var(--theme-alternate-color);font-size: inherit;}
div.absolute_item span {font-size: var(--fs);color: var(--theme-alternate-color); }
/**********List************/
div.modern .bg_image_area {width: 300px;}
div.ttbm_list_details {width: 100%;position: relative;overflow: hidden;-webkit-flex: auto;flex: auto;text-align: left;}
div.modern div.ttbm_list_details {max-width: calc(100% - 300px);min-width: 60%;padding: 0 0 0 var(--default-mp);}
/**********Grid******************************/
/**********Orchid Grid******************************/
div.orchid div.bg_image_area {margin: 0;}
/**********Location list******************************/
[data-bg-image] .ttbm_list_title {color: #FFF;}
/****************************************/
/****************************************/
/****************************************/
@media only screen and (max-width: 1100px) {
	div.ttbm_filter_area .leftSidebar {max-width: 250px;}
	div.ttbm_filter_area .mainSection {max-width: calc(100% - 270px);}
	div.modern .bg_image_area {width: 200px;}
	div.modern div.ttbm_list_details {max-width: calc(100% - 200px - var(--default-mp))}
}
@media only screen and (max-width: 1000px) {
	div.filter_item {min-width: calc(33.3333% - var(--default-mp));}
}
@media only screen and (max-width: 900px) {
	div.pagination_area button.active_pagination {min-width: 40px;}
	div.pagination_area button[class*="dButton_xs"] {min-width: 30px;}
	div.filter_item {min-width: calc(50% - 16px);}
	div.modern .include_service {display: none;}
}
@media only screen and (max-width: 750px) {
	div.left_filter {-webkit-flex-direction: column;flex-direction: column;}
	div.left_filter .groupCheckBox {display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
	div.left_filter .groupCheckBox label {margin: 0 var(--default-mp) var(--default-mp-xs) 0;}
	div.ttbm_filter_area .leftSidebar [data-collapse].mActive {display: none;}
	div.ttbm_filter_area .leftSidebar {max-width: 100%;}
	div.ttbm_filter_area .mainSection {max-width: 100%;margin: var(--default-mp) 0;}
	div.all_filter_item > div {margin: 0;width: 100%;}
	div.filter_item {min-width: 100%;margin: var(--default-mp-xs) 0;}
	div.modern .include_service {display: block;}
	div.modern div.ttbm_list_details {max-width: 100%;}
	div.modern .bg_image_area {width: 100%;}
	div.modern div.filter_item {-webkit-flex-direction: column;flex-direction: column;}
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 500px) {
}
