.ttbm-hotel-area{
margin: 50px auto;
background-color: #fff;
padding:10px;
}

.ttbm-hotel-area .ttbm-hero-header{
    display: flex;
    justify-content: space-between;
}

.title-section{
    display: flex;
    flex-direction: column;
}
.title-section .title{
    margin: 8px 0;
    font-size:32px;
    font-weight: bold;
}
.review-star{
    font-size: 12px;
    color: #ffb700;
}
.ttbm-hotel-area .ttbm-hero-header p.location-info{
        color: #555;
}
.location-info i{
    color: var(--color_theme);
}
.sharing-meta{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: end;
    gap:10px;
}

.sharing-info{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap:10px;

}

.sharing-info i{
    padding: 15px;
    color:var(--color_theme);
}

.sharing-info i:hover{
    background-color: #dfecfb;
}

.sharing-info button{
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    font-weight: normal;
    background-color:var(--color_theme);
    color:#fff;
}

.price-match button{
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background: none;
    box-shadow: none;
    color:var(--color_theme);
    font-weight: normal;
}

.price-match button i{
    margin-right: 5px;
}

.price-match button:hover{
    color:var(--color_theme);
    background:#dfecfb;
}

/* ttbm-hero-area */
.ttbm-hero-area{
    display:flex;
    align-items: start;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}
.slider-area{
    width: 80%;
}
.review-map-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.review-container{
    border: 1px solid #ddd;
}   
.review-rating{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.review-rating .review{
    text-align: right;
}
.review-rating .review h3{
    font-size: 16px;
    font-weight: normal;
}
.review-container .review-rating .review p{
    font-size: 10px;
    color:#666;
    line-height: 12px;
}
.review-rate{
    background-color: var(--color_theme);
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    padding: 5px;
    border-radius: 3px;
}

.review-testimonial{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.review-testimonial h2{
    font-size: 12px;
    font-weight: normal;
}

.review-testimonial .testimonial{
    font-size: 12px;
    margin: 10px 0;
}

.service-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.service-rating h3{
    font-size: 16px;
    font-weight: bold;
}
.service-rating .service-rate{
    color: #000;
    font-size: 19px;
    font-weight: normal;
    padding: 10px;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 3px;
}
/* =========ttbm-content-area======== */
.ttbm-content-area{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap:10px;
}

.ttbm-content-left{
    width: 75%;
}

.ttbm-content-left .content-details{
    margin-bottom: 20px;
}
.ttbm-content-left div.content-details p{
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}
/* right sidebar */
.ttbm-content-right{
    width: 25%;
    background-color: #f0f6ff;
    padding: 20px;
    border-radius: 4px;
}

.ttbm-content-right .widgets{
    margin:0 0 20px 0;
}

.ttbm-content-right .widgets h2{
    font-size: 14px;
    margin: 15px 0;
    font-weight: bold;
    color: #000;
}
.ttbm-content-right .widgets .widgets-text {
    font-size: 14px;
    color: #333;
    display: flex;
    gap: 10px;
}
.ttbm-content-right .widgets .widgets-text i {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.ttbm-content-right .activities-info .widgets-text{
    flex-direction: column;
    gap: 10px 0;
}
.ttbm-content-right .widgets-button{
    width: 100%;
    padding: 10px;
    font-weight: normal;
    background-color: var(--color_theme);
    margin-top: 30px;
}