body.theme-astra div.ttbm_wraper,
body.theme-twentytwenty div.ttbm_wraper,
body.theme-twentytwentyone div.ttbm_wraper,
body.theme-twentytwentytwo div.ttbm_wraper {max-width: 1200px !important;}
.ast-separate-container .ast-article-single {padding: var(--default-mp);}
/**************************************************/
div.ttbm_default_theme,
div.ttbm_viator_theme {width: 100%;}
div.ttbm_wraper {max-width: 100%; width: 100%;;margin: var(--default-mp) auto;position: relative;}
div.ttbm_container {width: 100%;max-width: var(--container-max-width);margin: 0 auto;padding: var(--default-mp);background-color: var(--default-bg);}
.ttbm_wraper table {table-layout: fixed;margin: 0; width: 100%;}
.ttbm_wraper table th {font-size: var(--font-size-label);}
.ttbm_wraper table th,
.ttbm_wraper table td {padding: 5px 5px 5px 15px;vertical-align: middle;border: 1px dotted #DDD;}
div.ttbm_faq_item .ttbm_faq_title {-webkit-transition: 350ms ease-in-out;transition: 350ms ease-in-out;}

/*****************Details page*********************************/
div.ttbm_details_page {display: block;position: relative;}
div.ttbm_content_area {position: relative;display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;-webkit-justify-content: space-between;justify-content: space-between;}
.ttbm_content__left {width: calc(100% - 346px);}
.hip_hop_hotel_theme .ttbm_content__left,
.ttbm_spring_theme .ttbm_content__left {width: calc(50% - 20px);}
.ttbm_content__right {width: 330px;}
.hip_hop_hotel_theme .ttbm_content__right,
.ttbm_spring_theme .ttbm_content__right {width: 50%;}
/**/
div.ttbm_details_page div.superSlider {margin: 0 0 var(--default-mp) 0;}
div.ttbm_details_page div.ttbm_description {margin: 0 0 var(--default-mp) 0;}
/*********/
div.ttbm_details_page .location_name {font-size: var(--font-size-h5);margin: 0 0 var(--default-mp) 0;}
/*********/
.section_item {display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;width: 33.333%;overflow: hidden;margin: 0;position: relative;}
/***********/
.sidebar_price {text-align: center;color: var(--theme-color);}
.ttbm_title_style_2 ~ .ttbm_widget_content .sidebar_price,
.ttbm_title_style_3 ~ .ttbm_widget_content .sidebar_price {text-align: left;padding: 0 0 0 20px;color: var(--default-color);}
/******************/
div.ttbm_map_area {padding: 5px;}
div.ttbm_map_area #gmap_canvas {max-width: 100%;width: 100%;min-height: 320px;}
/*********************Location list*****************************/
div.ttbm_location_list div.filter_item {padding: 0;}
/**************************************************/
.ttbm_spring_theme .ttbm_booking_panel table,
.hip_hop_hotel_theme .ttbm_booking_panel table {table-layout: initial;}
.ttbm_spring_theme .ttbm_booking_panel table tr:nth-of-type(odd) td:last-child,
.hip_hop_hotel_theme .ttbm_booking_panel table tr:nth-of-type(odd) td:last-child {width: 160px;padding: 5px;}
/*********Group Content*******/
.ttbm_wraper table label {max-width: 100px;}
.ttbm_wraper table label select.formControl{text-align: center;}
/*****************/
div.item_section {margin: var(--default-mp-xs_negative) var(--default-mp-xs_negative) var(--default-mp) var(--default-mp-xs_negative);}
div.item_section .ttbm_short_list_more {cursor: pointer;color: var(--theme-color);margin: 0 var(--default-mp-xs) 0 0;font-weight: bold;}
div.small_box {
	padding: var(--default-mp-xs);margin: var(--default-mp-xs);width: calc(25% - var(--default-mp));
	border: 1px solid var(--border_color);border-radius: 10px;
	background-color: var(--content_bg);line-height: 1.25;
	-webkit-flex-direction: column;flex-direction: column;
	-webkit-justify-content: center;justify-content: center;
}
div.small_box .item_icon {color: var(--theme-color);margin: 0 0 var(--default-mp-xs) 0;font-size: var(--font-size-h1);}
div.small_box > * {text-align: center;}
/**************************************************/
.ttbm_wraper button.ttbm_book_now {font-size: var(--font-size-h4);margin: 0 var(--default-mp-xs) 0 0;}
/*****************/

/**********************/
div.bg_image_area .group_item {
	display: -webkit-flex;display: flex;
	background-color: #0009;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-align-items: flex-end;align-items: flex-end;
}
div.bg_image_area:hover .group_item {opacity: 1;}
div.bg_image_area .group_item > * {color: #FFF;font-weight: bold;width: 100%;}
div.bg_image_area .group_item span {color: #FFF;}
div.bg_image_area .group_item .ttbm_list_info {
	-webkit-justify-content: center;justify-content: center;
	margin: 0 0 var(--default-mp-xs) 0;
	font-size: 12px;
	background-color: #0007;
}
div.include_service ul li[title]:hover::before {position: absolute;content: '';left: calc(50% - 9px);top: -20px;border: 10px solid transparent;border-bottom-color: #333;}
div.include_service ul li[title]:hover::after {content: attr(title);position: absolute;top: -35px; left: 0;background-color: #333;padding: 5px var(--default-mp-xs);color: #FFF;border-radius: 5px;white-space: nowrap;}
div.include_service ul {display: -webkit-flex;display: flex;}
div.include_service ul li {position: relative;padding: 5px !important; margin: 0 7px 0 0 !important;border: 1px solid var(--border_color); border-radius: 5px;}
div.include_service ul li span {
	background-color: transparent !important;
	width: auto;height: auto;color: var(--theme-color) !important; min-width: auto;margin: 0 !important;}
div.include_service ul li span:hover {
	background-color: var(--theme-color) !important;
	color: var(--theme-alternate-color) !important;
}
div.filter_top_bar button {background-color: #FFF;color: var(--theme-color);font-size: var(--font-size-h2);padding: 5px 7px;}
/**************default theme***********************************/
/**************spring theme***********************************/
/**************hip hop hotel theme***********************************/
/**************Availability theme***********************************/
div.ttbm_viator_theme .ttbm_content__left {width: calc(100% - 400px - var(--default-mp));}
div.ttbm_viator_theme .ttbm_content__right {width: calc(380px + var(--default-mp));}
div.ttbm_viator_theme .viator_top_section .ttbm_content__left {width: calc(100% - 400px);}
div.ttbm_viator_theme .viator_top_section .ttbm_content__right {width: 380px;background-color: #F5F5F5;padding: var(--default-mp);}
div.ttbm_viator_theme div.superSlider {margin: 0;}
div.ttbm_viator_theme div.small_box {width: 100%;
	padding: 0; border: none;border-radius: 0;margin: var(--default-mp-xs) 0 0 0;background-color: transparent;
	-webkit-flex-direction: initial;flex-direction: initial;
	-webkit-justify-content: initial;justify-content: initial;
}
div.ttbm_viator_theme .item_icon {margin: 0 var(--default-mp-xs) 0 0;font-size: var(--font-size-h5);}
div.viator_top_section .ttbm_booking_panel {
	position: absolute;top: 100%;left: var(--default-mp_negetive);right: var(--default-mp_negetive);
	padding: var(--default-mp-xs);z-index: 11;background-color: #F5F5F5;
}
div.viator_top_section .ttbm_booking_panel h3 {font-size: var(--font-size-h5);}
div.viator_top_section .ttbm_booking_panel .addonGroupContent {min-width: 25px;}
div.viator_top_section .ttbm_booking_panel .qtyIncDec {max-width: 100%;}
div.viator_top_section .ttbm_booking_panel .formControl {padding: 5px;}
div.viator_top_section .ttbm_booking_panel div.rendered-form > div.form-group {width: 100%;}
div.viator_top_section .ttbm_booking_panel table td:last-child > div {min-width: 100%;}
div.viator_top_section .ttbm_booking_panel button.ttbm_book_now {width: 100%;}
div.viator_top_section div.ttbm_date_time_select span.date_time_label {display: none;}
div.viator_top_section div.ttbm_date_time_select {padding: 0;background-color: transparent;color: var(--default-color);margin: 0;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
div.viator_top_section .ttbm_select_date_area > *,
div.viator_top_section .ttbm_date_time_select > * {width: 100%;}
div.viator_top_section div.ttbm_select_date_area {padding: 0;background-color: transparent;}
div.viator_top_section div.ttbm_select_time_area {margin: var(--default-mp-xs) 0 0 0;}
div.viator_top_section div.ttbm_book_now_area {-webkit-flex-direction: column;flex-direction: column;margin: 0;}
div.viator_top_section .ttbm_check_ability {width: 100%;margin: var(--default-mp) 0 0 0; }
div.viator_top_section .ttbm_book_now {margin: var(--default-mp-xs) 0 0 0;}
/******************day wise details********************************/
div.ttbm_day_wise_details div.superSlider {min-width: 300px;max-width: 50%; margin: 0 var(--default-mp) var(--default-mp) 0;float: left;}
div.day_wise_details_item .day_wise_details_item_details {margin: var(--default-mp-xs) 0 0 0;overflow: hidden;}
div.ttbm_day_wise_details .day_wise_details_item_title {padding: 0 var(--default-mp-xs) var(--default-mp-xs) 0;border-bottom: 1px solid #DDD;font-weight: normal;}
div.day_wise_details_item { border-left: 1px solid var(--theme-color); position: relative; margin: 0;padding: 0 0 var(--default-mp) 25px;}
div.day_wise_details_item:before {
	content: "";width: 15px; height: 15px;top: 0;left: -8px;position: absolute;
	background-color: var(--theme-color);
	border: 1px solid var(--theme-color);
	-webkit-box-shadow: 3px 3px 0 #BAB5F8; box-shadow: 3px 3px 0 #BAB5F8;
	border-radius: 50%;
}
div.day_wise_details_item:last-child {padding-bottom: 0;border: none;}
div.day_wise_details_item img {width: initial;}
/*************F.A.Q*************************************/
div.ttbm_faq_item {margin: 0 0 var(--default-mp-xs) 0;}
div.ttbm_faq_item .ttbm_faq_title {background-color: #FFF;border: 1px solid #DDD;border-radius: 5px;font-weight: normal;text-transform: none;}
div.ttbm_faq_item .ttbm_faq_title.active {border-color: var(--theme-color);border-radius: 5px 5px 0 0;background-color: var(--theme-color);color: var(--theme-alternate-color); }
div.ttbm_faq_item .ttbm_faq_title span {padding: 10px;}
div.ttbm_faq_content {background-color: #FFF;padding: var(--default-mp);border: 1px solid var(--theme-color);border-radius: 0 0 5px 5px;overflow: hidden;}
div.ttbm_faq_item div.superSlider {min-width: 300px;max-width: 50%; margin: 0 var(--default-mp-xs) var(--default-mp-xs) 0;float: left;}
/*****************dynamic sidebar*********************************/
div.ttbm_sidebar_widget {margin: 0 0 var(--default-mp) 0;}
div.ttbm_sidebar_widget .form-group-with-button {display: -webkit-flex;display: flex;}
div.ttbm_sidebar_widget .form-group-with-button button {min-width: 50px;background-color: var(--theme-color);color: var(--theme-alternate-color);}
div.ttbm_sidebar_widget ul li {padding: 5px;}
div.ttbm_wraper div.ttbm_sidebar_widget ul li a {color: var(--default-color);}
div.ttbm_sidebar_widget ul li a:hover {color: var(--theme-color);margin: 0 0 0 7px;}
div.ttbm_sidebar_widget ul li a::before {content: '>';margin: 0 5px 0 0;}
/************** owlCarousel***********************************/
div.ttbm_wraper .carousel_area span {cursor: pointer;}
div.ttbm_wraper .carousel_area span:hover {color: var(--theme-color);}
div.ttbm_wraper .owl-carousel .owl-stage {display: -webkit-flex;display: flex;}
div.ttbm_wraper .owl-item div.filter_item,
div.ttbm_wraper .owl-item .section_item {width: 100%;height: 100%;}
div.ttbm_wraper .owl-nav > button {
	width: 40px; height: 40px;
	margin-top: 0; background: #FFF; border-radius: 50%;
	box-shadow: 0 0 25px 0 rgb(0 0 0 / 25%);
	border: none; outline: 0;font-size: 30px;
	position: absolute;top: 25%;
}
div.ttbm_wraper button.owl-next { right: -20px; }
div.ttbm_wraper button.owl-prev { left: -20px;}
div.ttbm_wraper .owl-dots,
div.ttbm_wraper .owl-theme .owl-nav {display: none;}
.popover-content {
	display: none; position: absolute; left: 0;top: 0;bottom: 0;right: 0;overflow-y: auto;
	background-color: rgba(230, 230, 230, 1); padding: 10px; z-index: 111;
}
.popover-content:hover,
#place_you_see span.abTopRight:hover ~ .popover-content {display: block;}
#place_you_see span.abTopRight {margin: 0;}
#ttbm_related_tour div.filter_item:not([class*='grid_']) {margin: 0;}
#place_you_see .filter_item {box-shadow: none !important;padding: 0 !important;border-radius: 0 !important;}
/**************Responsive***********************************/
@media only screen and (max-width: 1100px) {
	.ttbm_content__left {width: calc(100% - 316px);}
	.ttbm_content__right {width: 300px;}
}
@media only screen and (max-width: 1000px) {
	.ttbm_content__left {width: calc(100% - 300px);}
	.ttbm_content__right {width: 284px;}
	.section_item {width: 50%;}
	div.small_box {width: calc(33.3333% - var(--default-mp));}
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 850px) {
	div.ttbm_viator_theme .ttbm_content__left,
	div.ttbm_viator_theme .ttbm_content__right,
	div.ttbm_viator_theme .viator_top_section .ttbm_content__left,
	div.ttbm_viator_theme .viator_top_section .ttbm_content__right,
	.hip_hop_hotel_theme .ttbm_content__right,
	.ttbm_spring_theme .ttbm_content__right,
	.hip_hop_hotel_theme .ttbm_content__left,
	.ttbm_spring_theme .ttbm_content__left,
	.ttbm_content__right,
	.ttbm_content__left {width: 100%;}
	div.ttbm_viator_theme .viator_top_section .ttbm_content__right,
	div.ttbm_viator_theme .ttbm_content__right {margin: var(--default-mp) 0 0 0;}
	div.viator_top_section .ttbm_booking_panel {position: relative;left: inherit;right: inherit;}
}
@media only screen and (max-width: 600px) {
	div.small_box {width: calc(100% - var(--default-mp-xs));}
	.section_item {width: 100%;}
	div.small_box {width: calc(50% - var(--default-mp));}
	div.ttbm_top_filter label{width: 100%; margin-right: 0;}
}
@media only screen and (max-width: 320px) {
	div.small_box {width: calc(100% - var(--default-mp));}
}