@charset "utf-8";
/********Image upload******************/
div.mp_multi_image { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: 15px 0 0 0;}
div.mp_single_image_item,
div.mp_multi_image_item { position: relative; width: 25%; padding: var(--default-mp-xs);min-width: 150px;}
span.mp_remove_single_image,
div.mpStyle span.mp_remove_multi_image { cursor: pointer; position: absolute; top: 0; right: 0; background-color: var(--danger-color);margin: 0;}
/********Global settings******************/
div.mp_settings_panel {overflow: hidden;position: relative;display: -webkit-flex;display: flex; line-height: 1.4;}
.mp_settings_panel_header { background: #161B37;padding: 30px 20px 30px 20px;color: #FFF;font-size: 20px;margin-top: 30px;}
.mp_settings_panel_header small {margin-left: 10px;font-size: 13px;}
.mp_settings_panel .nav-tab-wrapper {
	width: 300px;padding: 0;margin: 0;overflow: hidden;
	display: -webkit-flex;display: flex;
	-webkit-flex-direction: column;flex-direction: column;
	background: #161B37;border: 5px solid #C6C6C6;
}
.mp_settings_panel .nav-tab {
	margin: 0;width: 100%; font-weight: 600;text-decoration: none;white-space: nowrap; line-height: 1.4;color: #FFF;
	background-color: transparent;border: none;border-bottom: 1px dotted #FFF;
	float: initial;padding: 10px 12px;font-size: 14px;transition: 0.2s;
}
.mp_settings_panel .nav-tab:hover {background: #49AC2F;transition: 0.2s;}
.mp_settings_panel .nav-tab.nav-tab-active { background: #49AC2F;color: #FFF;}
.mp_settings_panel .metabox-holder {background: #FFF;padding: 10px;margin: 0;width: calc(100% - 300px);border: 5px solid #C6C6C6;}
.mp_settings_panel .metabox-holder h2 {border-bottom: 2px solid #0071A1;font-size: 20px; padding: 15px;margin: 0;background: #161B37; color: #FFF !important;}
.mp_settings_panel select {min-width: 150px;}
.mp_settings_panel table {width: 100%;overflow: hidden; border: 1px solid #DDD;}
.mp_settings_panel table,
.mp_settings_panel table td,
.mp_settings_panel table th {border-collapse: collapse;}
.mp_settings_panel table th {width: 300px;padding: 5px 10px;font-size: 14px;text-align: left;font-weight: 600;vertical-align: middle;color: #000;}
.mp_settings_panel table td {padding: 5px 10px;font-size: 14px;}
.mp_settings_panel table tr:nth-child(even) {background-color: #F2F2F2;}
.mp_settings_panel p.submit {text-align: right; margin: 20px 0 0 0; padding: 0;}
div.mpStyle .description,
.mp_settings_panel .description {display: block;font-weight: normal;font-size: var(--fs_small) !important;color: #666;margin: var(--default-mp-xs) 0 0 0;}
div.mpStyle .description span,
.mp_settings_panel .description span {margin: 0 var(--default-mp-xs) 0 0;}
.mp_settings_panel .description strong {color: #000;}
.mp_settings_panel p.submit input {font-size: 16px;padding: 5px 30px;border-radius: 0;background: #49AC2F;border-color: #49AC2F;transition: 0.2s;}
.mp_settings_panel p.submit input:hover {background: #239108;border-color: #239108;transition: 0.2s;}
.mp_settings_panel #setting-error-tgmpa {order: 0;width: 100%}
.mp_settings_panel .notice {display: none;}
div.mp_settings_panel .formControl {max-width: 320px;}
.mp_settings_panel table thead th {background-color: var(--section-bg);}
.mp_settings_panel .select2-container {max-width: 320px;}
.mp_settings_panel .selection {width: 100%;}
.mp_settings_panel .metabox-holder table { border-collapse: collapse;}
.mp_settings_panel .metabox-holder table td,
.mp_settings_panel .metabox-holder table th { padding: 12px;}
.mp_settings_panel .metabox-holder table tr:nth-child(even) { background-color: #0CB32612;}
.mp_settings_panel .metabox-holder table tr:nth-child(odd) { background-color: #FFF;}
/**************************************/
/****************mp_event_all_meta_in_tab********************/
#mp_meta_box_panel .mpStyle [data-tabs-target].active { background-color: #49AC2F;}
#mp_meta_box_panel .mpStyle [data-tabs-target] { color: #FFF; transition: 0.2s;}
#mp_meta_box_panel .mpStyle [data-tabs-target] span { color: #FFF;}
#mp_meta_box_panel .mpStyle [data-tabs-target]:hover { background-color: #49AC2F !important; transition: 0.2s;}
#mp_meta_box_panel .mpStyle .tabLists { background-color: #161B37 !important;}
#mp_meta_box_panel .mpStyle .tabLists { font-size: 14px;}
#mp_meta_box_panel .mpStyle .ppof-button { background: #49AC2F; border-color: #49AC2F; transition: 0.2s; padding: 5px 12px;}
#mp_meta_box_panel .mpStyle .ppof-button:hover { background: #239108; border-color: #239108; transition: 0.2s;}
#mp_meta_box_panel .mpStyle .ppof-button.clear { background: #E33E3E; border-color: #E33E3E;}
#mp_meta_box_panel .mpStyle .ppof-button.clear:hover { background: #BD2525; border-color: #BD2525;}
#mp_meta_box_panel .mpStyle .field-text-multi-wrapper .field-list .item span.button {
	background: #49AC2F; border-color: #49AC2F;color: #FFF;
	transition: 0.2s; padding: 5px 12px; margin-left: 3px; min-width: 40px; text-align: center;
}
#mp_meta_box_panel .mpStyle .field-text-multi-wrapper .field-list .item span.button:hover {background: #239108;border-color: #239108; transition: 0.2s;}
#mp_meta_box_panel .mpStyle .field-text-multi-wrapper .field-list .item:nth-child(even) { background-color: #0CB32612;}
#mp_meta_box_panel .mpStyle .field-text-multi-wrapper .field-list .item:nth-child(odd) {background-color: #FFF;}
#mp_meta_box_panel .mpStyle .field-text-multi-wrapper .field-list .item {padding: 10px;}
#mp_meta_box_panel .ppof-metabox .form-wrapper.full-width .tab-content:not(.section) {overflow: auto;}
#mp_meta_box_panel .mpStyle .dButton,
#mp_meta_box_panel .mpStyle .bgColor_1,
#mp_meta_box_panel .mpStyle [class*="_bgColor_1"] {background: #49AC2F;border-color: #49AC2F;transition: 0.2s;padding: 5px 12px;}
#mp_meta_box_panel .mpStyle .dButton:hover,
#mp_meta_box_panel .mpStyle .bgColor_1:hover,
#mp_meta_box_panel .mpStyle [class*="_bgColor_1"]:hover {background: #239108;border-color: #239108;transition: 0.2s;}
#mp_meta_box_panel .mpStyle .roundSwitch { min-width: 60px;}
#mp_meta_box_panel .mpStyle button.mp_input_add_icon_button { min-width: inherit;}
#mp_meta_box_panel {margin: 15px 0;}
#mp_meta_box_panel .inside,
#ttbm_list_thumbnail_meta_boxes .form-section,
#mp_meta_box_panel .form-section {margin: 0;padding: 0;}
#mp_meta_box_panel .postbox-header { background-color: #161B37;}
#mp_meta_box_panel .postbox-header h2 {color: #FFF;font-size: 18px;-webkit-justify-content: flex-start;justify-content: flex-start;}
#mp_meta_box_panel .postbox-header h2 span {margin: 0 7px 0 0;}
#mp_meta_box_panel .wp-editor-wrap {width: 100%;}
#mp_meta_box_panel .tabsContent .ttbm_pro_badge { color: #FFF; background-color: #DB2020; width: max-content; border-radius: 5px; padding: 2px 5px; font-size: 14px; display: inline-block;}
#mp_meta_box_panel .mp_event_remove_move { display: -webkit-flex; display: flex;}
#mp_meta_box_panel .mp_event_remove_move > * { -webkit-flex: 1; flex: 1;}
#mp_meta_box_panel .mp_event_remove_move button { color: #6B003E;}
#mp_meta_box_panel .mp_ticket_type_table { width: 100%; overflow: auto; padding: 0 0 15px 0;}
/************/
