:root {
  --mpl-primary:#F12971;
  --mpl-primary-rgba:rgba(241, 41, 113, 0.08);
  --mpl-secondary:#1d2327;
  --mpl-sky:#f38fb3;
  --mpl-sky-light:#EFFAFF;
  --mpl-dark:#a4a4a4;
  --mpl-gray:#e0e0e0;
  --mpl-light:#F5F5F5;
  --mpl-white:#ffffff;
  --mpl-black:#000000;
  --mpl-yellow:#ffcb00;
  --mpl-red:#d91e1e;
  --mpl-red-light:#f6dada;
  --mpl-gradient:linear-gradient(135deg, #F12971, #c4185b);
}

#ttbm_meta_box_panel label input, .travel-list label input {
  font-weight: normal;
}
#ttbm_meta_box_panel select, #ttbm_meta_box_panel input[type=text], #ttbm_meta_box_panel input[type=email], #ttbm_meta_box_panel input[type=search], #ttbm_meta_box_panel input[type=tel], #ttbm_meta_box_panel input[type=url], #ttbm_meta_box_panel input[type=password], #ttbm_meta_box_panel input[type=file], #ttbm_meta_box_panel input[type=color], #ttbm_meta_box_panel input[type=number], #ttbm_meta_box_panel input[type=range], #ttbm_meta_box_panel input[type=date], #ttbm_meta_box_panel input[type=month], #ttbm_meta_box_panel input[type=week], #ttbm_meta_box_panel input[type=time], #ttbm_meta_box_panel input[type=datetime], #ttbm_meta_box_panel input[type=datetime-local], .travel-list select, .travel-list input[type=text], .travel-list input[type=email], .travel-list input[type=search], .travel-list input[type=tel], .travel-list input[type=url], .travel-list input[type=password], .travel-list input[type=file], .travel-list input[type=color], .travel-list input[type=number], .travel-list input[type=range], .travel-list input[type=date], .travel-list input[type=month], .travel-list input[type=week], .travel-list input[type=time], .travel-list input[type=datetime], .travel-list input[type=datetime-local] {
  width: 14em;
  border: 0px;
  border: 1px solid var(--mpl-gray);
  color: var(--mpl-secondary);
  font-weight: normal;
  font-size: 14px;
  background-color: #f5f8ff;
}
#ttbm_meta_box_panel select.small, #ttbm_meta_box_panel input[type=text].small, #ttbm_meta_box_panel input[type=email].small, #ttbm_meta_box_panel input[type=search].small, #ttbm_meta_box_panel input[type=tel].small, #ttbm_meta_box_panel input[type=url].small, #ttbm_meta_box_panel input[type=password].small, #ttbm_meta_box_panel input[type=file].small, #ttbm_meta_box_panel input[type=color].small, #ttbm_meta_box_panel input[type=number].small, #ttbm_meta_box_panel input[type=range].small, #ttbm_meta_box_panel input[type=date].small, #ttbm_meta_box_panel input[type=month].small, #ttbm_meta_box_panel input[type=week].small, #ttbm_meta_box_panel input[type=time].small, #ttbm_meta_box_panel input[type=datetime].small, #ttbm_meta_box_panel input[type=datetime-local].small, .travel-list select.small, .travel-list input[type=text].small, .travel-list input[type=email].small, .travel-list input[type=search].small, .travel-list input[type=tel].small, .travel-list input[type=url].small, .travel-list input[type=password].small, .travel-list input[type=file].small, .travel-list input[type=color].small, .travel-list input[type=number].small, .travel-list input[type=range].small, .travel-list input[type=date].small, .travel-list input[type=month].small, .travel-list input[type=week].small, .travel-list input[type=time].small, .travel-list input[type=datetime].small, .travel-list input[type=datetime-local].small {
  width: 4.6666666667em;
}
#ttbm_meta_box_panel select.medium, #ttbm_meta_box_panel input[type=text].medium, #ttbm_meta_box_panel input[type=email].medium, #ttbm_meta_box_panel input[type=search].medium, #ttbm_meta_box_panel input[type=tel].medium, #ttbm_meta_box_panel input[type=url].medium, #ttbm_meta_box_panel input[type=password].medium, #ttbm_meta_box_panel input[type=file].medium, #ttbm_meta_box_panel input[type=color].medium, #ttbm_meta_box_panel input[type=number].medium, #ttbm_meta_box_panel input[type=range].medium, #ttbm_meta_box_panel input[type=date].medium, #ttbm_meta_box_panel input[type=month].medium, #ttbm_meta_box_panel input[type=week].medium, #ttbm_meta_box_panel input[type=time].medium, #ttbm_meta_box_panel input[type=datetime].medium, #ttbm_meta_box_panel input[type=datetime-local].medium, .travel-list select.medium, .travel-list input[type=text].medium, .travel-list input[type=email].medium, .travel-list input[type=search].medium, .travel-list input[type=tel].medium, .travel-list input[type=url].medium, .travel-list input[type=password].medium, .travel-list input[type=file].medium, .travel-list input[type=color].medium, .travel-list input[type=number].medium, .travel-list input[type=range].medium, .travel-list input[type=date].medium, .travel-list input[type=month].medium, .travel-list input[type=week].medium, .travel-list input[type=time].medium, .travel-list input[type=datetime].medium, .travel-list input[type=datetime-local].medium {
  width: 7em;
}
#ttbm_meta_box_panel select:disabled, #ttbm_meta_box_panel input[type=text]:disabled, #ttbm_meta_box_panel input[type=email]:disabled, #ttbm_meta_box_panel input[type=search]:disabled, #ttbm_meta_box_panel input[type=tel]:disabled, #ttbm_meta_box_panel input[type=url]:disabled, #ttbm_meta_box_panel input[type=password]:disabled, #ttbm_meta_box_panel input[type=file]:disabled, #ttbm_meta_box_panel input[type=color]:disabled, #ttbm_meta_box_panel input[type=number]:disabled, #ttbm_meta_box_panel input[type=range]:disabled, #ttbm_meta_box_panel input[type=date]:disabled, #ttbm_meta_box_panel input[type=month]:disabled, #ttbm_meta_box_panel input[type=week]:disabled, #ttbm_meta_box_panel input[type=time]:disabled, #ttbm_meta_box_panel input[type=datetime]:disabled, #ttbm_meta_box_panel input[type=datetime-local]:disabled, .travel-list select:disabled, .travel-list input[type=text]:disabled, .travel-list input[type=email]:disabled, .travel-list input[type=search]:disabled, .travel-list input[type=tel]:disabled, .travel-list input[type=url]:disabled, .travel-list input[type=password]:disabled, .travel-list input[type=file]:disabled, .travel-list input[type=color]:disabled, .travel-list input[type=number]:disabled, .travel-list input[type=range]:disabled, .travel-list input[type=date]:disabled, .travel-list input[type=month]:disabled, .travel-list input[type=week]:disabled, .travel-list input[type=time]:disabled, .travel-list input[type=datetime]:disabled, .travel-list input[type=datetime-local]:disabled {
  background: var(--mpl-gray);
}
#ttbm_meta_box_panel select:focus, #ttbm_meta_box_panel input[type=text]:focus, #ttbm_meta_box_panel input[type=email]:focus, #ttbm_meta_box_panel input[type=search]:focus, #ttbm_meta_box_panel input[type=tel]:focus, #ttbm_meta_box_panel input[type=url]:focus, #ttbm_meta_box_panel input[type=password]:focus, #ttbm_meta_box_panel input[type=file]:focus, #ttbm_meta_box_panel input[type=color]:focus, #ttbm_meta_box_panel input[type=number]:focus, #ttbm_meta_box_panel input[type=range]:focus, #ttbm_meta_box_panel input[type=date]:focus, #ttbm_meta_box_panel input[type=month]:focus, #ttbm_meta_box_panel input[type=week]:focus, #ttbm_meta_box_panel input[type=time]:focus, #ttbm_meta_box_panel input[type=datetime]:focus, #ttbm_meta_box_panel input[type=datetime-local]:focus, .travel-list select:focus, .travel-list input[type=text]:focus, .travel-list input[type=email]:focus, .travel-list input[type=search]:focus, .travel-list input[type=tel]:focus, .travel-list input[type=url]:focus, .travel-list input[type=password]:focus, .travel-list input[type=file]:focus, .travel-list input[type=color]:focus, .travel-list input[type=number]:focus, .travel-list input[type=range]:focus, .travel-list input[type=date]:focus, .travel-list input[type=month]:focus, .travel-list input[type=week]:focus, .travel-list input[type=time]:focus, .travel-list input[type=datetime]:focus, .travel-list input[type=datetime-local]:focus {
  outline: none;
  border: 1px solid var(--mpl-primary);
  box-shadow: none;
}
#ttbm_meta_box_panel textarea, .travel-list textarea {
  background-color: #f5f8ff;
  font-weight: normal;
  line-height: 1.5rem;
}
#ttbm_meta_box_panel input[type=search], .travel-list input[type=search] {
  border: 0px solid var(--mpl-dark);
  background-color: #f5f8ff;
}
#ttbm_meta_box_panel .tool-tips, .travel-list .tool-tips {
  color: var(--mpl-gray);
  position: relative;
  padding-left: 0.25em;
}
#ttbm_meta_box_panel .tool-tips span, .travel-list .tool-tips span {
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--mpl-black);
  color: var(--mpl-white);
  border-radius: 0.25rem;
  padding: 0.5em 0.75em;
  width: max-content;
  max-width: 350px;
  font-weight: normal;
}
#ttbm_meta_box_panel .tool-tips span:after, .travel-list .tool-tips span:after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  transform: translate(-50%);
  border: 5px solid var(--mpl-black);
  border-color: var(--mpl-black) transparent transparent transparent;
  margin-left: 0.18em;
}
#ttbm_meta_box_panel .tool-tips:hover, .travel-list .tool-tips:hover {
  color: var(--mpl-primary);
}
#ttbm_meta_box_panel .tool-tips:hover span, .travel-list .tool-tips:hover span {
  visibility: visible;
}
#ttbm_meta_box_panel .switch, .travel-list .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-bottom: 0;
}
#ttbm_meta_box_panel .switch input, .travel-list .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  border: 1px solid var(--mpl-primary);
  background-color: var(--mpl-light);
}
#ttbm_meta_box_panel .slider, .travel-list .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 1px solid var(--mpl-dark);
  background-color: var(--mpl-gray);
  transition: 0.5s;
  margin-right: 0;
}
#ttbm_meta_box_panel .slider:before, .travel-list .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 1px solid var(--mpl-light);
  background-color: var(--mpl-white);
  transition: 0.4s;
  box-shadow: 0 0 1px var(--mpl-dark);
}
#ttbm_meta_box_panel input:checked + .slider, .travel-list input:checked + .slider {
  background-color: var(--mpl-primary);
  border: 1px solid var(--mpl-primary);
  margin-right: 0;
}
#ttbm_meta_box_panel input:checked + .slider:before, .travel-list input:checked + .slider:before {
  transform: translateX(26px);
}
#ttbm_meta_box_panel input:focus + .slider, .travel-list input:focus + .slider {
  box-shadow: inset 0 0 1px var(--mpl-dark);
}

.ttbm-tour-list-page {
  padding: 20px;
  background: #fff;
}
.ttbm-tour-list-page .page-title {
  padding: 0;
  margin-bottom: 10px;
}
.ttbm-tour-list-page .ttbm-tour-list-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list-header {
    flex-direction: column;
  }
}
.ttbm-tour-list-page .ttbm-tour-list-header input {
  width: 50%;
}
.ttbm-tour-list-page .ttbm-tour-list-header h1.ttbm_tour_page-title {
  padding: 0;
}
.ttbm-tour-list-page .ttbm-tour-list-header .page-title-action {
  position: inherit;
  margin: 0;
  background-color: var(--mpl-primary);
  color: #fff;
  border: var(--mpl-primary) solid 1px;
  font-weight: bold;
}
.ttbm-tour-list-page .ttbm-tour-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 36px;
}
@media (min-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list {
    gap: 10px;
  }
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  border: 1px solid #dfd6d6;
  margin-bottom: 6px;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
}
@media (min-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card {
    flex-direction: row;
  }
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 2px 5px #ddd;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card:hover .meta-action {
  display: block;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-thumb {
  position: relative;
  width: 100%;
  max-height: 200px;
}
@media (min-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-thumb {
    width: 10%;
  }
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-thumb .ttbm-tour-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff4081;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content {
  width: 100%;
}
@media (min-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content {
    width: 90%;
  }
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content h3 {
  margin: 0;
  font-size: 18px;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content h3 a {
  text-decoration: none;
  color: var(--mpl-black);
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .location {
  color: var(--mpl-primary);
  font-size: 14px;
  margin: 6px 0;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-info .description {
  font-size: 13px;
  color: #555;
  margin-bottom: 6px;
}
@media (min-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-info {
    width: 80%;
  }
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta {
    width: 15%;
  }
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .ttbm_travel_status {
  padding: 5px 10px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .ttbm_travel_status.publish {
  border: 1px solid #d4f4e0;
  background-color: #e8f5e8;
  color: #368336;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .ttbm_travel_status.draft {
  border: 1px solid #f0f0f0;
  background-color: #f8f8f8;
  color: #777;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .ttbm_travel_status.pending {
  border: 1px solid #fff4cc;
  background-color: #fff8e1;
  color: #b58b00;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .ttbm_travel_status.scheduled {
  border: 1px solid #d6ecff;
  background-color: #ebf4ff;
  color: #1c6db3;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .ttbm_travel_status.trash {
  border: 1px solid #ffe3e3;
  background-color: #fff0f0;
  color: #d9534f;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .tour-stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .tour-stats .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .ttbm-tour-card-content .ttbm-tour-details .ttbm-tour-meta .tour-stats .stat .value {
  font-weight: bold;
  color: #000;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action {
  display: none;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action .action-links {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px 10px;
  flex-direction: row;
  color: var(--mpl-dark);
  border-radius: 0 10px 10px 0;
  margin: 0;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action .action-links a {
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action .action-links a.ttbm_view_post {
  border: 1px solid #3498db;
  background-color: #d8f0ff;
  color: #3498db;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action .action-links a.ttbm_edit_post {
  border: 1px solid #f1c40f;
  background-color: #fef5d2;
  color: #f1c40f;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action .action-links a.ttbm_duplicate_post {
  border: 1px solid #2271b1;
  background-color: #cfe9ff;
  color: #2271b1;
}
.ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card .meta-action .action-links a.ttbm_trash_post {
  border: 1px solid #e74c3c;
  background-color: #fcd5d0;
  color: #e74c3c;
}
@media (max-width: 600px) {
  .ttbm-tour-list-page .ttbm-tour-list .ttbm-tour-card {
    width: 100%;
  }
}
.ttbm-tour-list-page .ttbm-load-more-wrap {
  text-align: center;
  margin: 10px auto;
}
.ttbm-tour-list-page .ttbm-load-more-wrap .button {
  background-color: var(--mpl-primary);
  color: #fff;
  border: var(--mpl-primary) solid 1px;
  font-weight: bold;
}

#ttbm_meta_box_panel .ttbm-faq-section .ttbm-faq-item {
  background-color: #fff;
  cursor: grabbing;
}
#ttbm_meta_box_panel .ttbm-faq-section .ttbm-faq-item.ui-sortable-helper {
  background: var(--mpl-light);
  visibility: visible;
  cursor: grabbing;
}
#ttbm_meta_box_panel .ttbm-faq-section .faq-header {
  position: relative;
  z-index: 0;
  background-color: var(--mpl-light);
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
}
#ttbm_meta_box_panel .ttbm-faq-section .faq-header.mActive {
  border-radius: 15px 15px 0 0;
}
#ttbm_meta_box_panel .ttbm-faq-section .faq-header .faq-action {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 1;
}
#ttbm_meta_box_panel .ttbm-faq-section .faq-header .faq-action span {
  padding: 5px 10px;
  background-color: var(--mpl-light);
  color: var(--mpl-primary);
  border-radius: 2px;
}
#ttbm_meta_box_panel .ttbm-faq-section .faq-content {
  display: none;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 10px;
}
#ttbm_meta_box_panel .ttbm-faq-section .faq-content.mActive {
  border-radius: 0 0 15px 15px;
}

#ttbm_meta_box_panel .ttbm-daywise-section .ttbm-daywise-item {
  background-color: #fff;
  cursor: grabbing;
}
#ttbm_meta_box_panel .ttbm-daywise-section .ttbm-daywise-item.ui-sortable-helper {
  background: var(--mpl-light);
  visibility: visible;
  cursor: grabbing;
}
#ttbm_meta_box_panel .ttbm-daywise-section .daywise-header {
  position: relative;
  z-index: 0;
  background-color: var(--mpl-light);
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 10px;
}
#ttbm_meta_box_panel .ttbm-daywise-section .daywise-header.mActive {
  border-radius: 15px 15px 0 0;
}
#ttbm_meta_box_panel .ttbm-daywise-section .daywise-header .daywise-action {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 1;
}
#ttbm_meta_box_panel .ttbm-daywise-section .daywise-header .daywise-action span {
  padding: 5px 10px;
  background-color: var(--mpl-light);
  color: var(--mpl-primary);
  border-radius: 2px;
}
#ttbm_meta_box_panel .ttbm-daywise-section .daywise-content {
  display: none;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 0 0 15px 15px;
}
#ttbm_meta_box_panel .ttbm-daywise-section .daywise-content.mActive {
  border-radius: 0 0 15px 15px;
}

#ttbm_meta_box_panel .ttbm-modal-container, .travel-list .ttbm-modal-container {
  position: fixed;
  right: -100%; /* Initially hidden off-screen */
  top: 0;
  width: 100%; /* Width of the sidebar */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.1725490196); /* Background color */
  transition: right 0.3s ease; /* Animation effect */
  z-index: 1000; /* Ensure it's above other content */
}
#ttbm_meta_box_panel .ttbm-modal-container.open, .travel-list .ttbm-modal-container.open {
  right: 0; /* Slide in */
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content, .travel-list .ttbm-modal-container .ttbm-modal-content {
  background-color: #fff;
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 70px 0px;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .title, .travel-list .ttbm-modal-container .ttbm-modal-content .title {
  padding-left: 40px;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .ttbm-modal-close, .travel-list .ttbm-modal-container .ttbm-modal-content .ttbm-modal-close {
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .content, .travel-list .ttbm-modal-container .ttbm-modal-content .content {
  height: 100%;
  overflow-y: scroll;
  padding: 0 40px;
  padding-bottom: 40px;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content p, .travel-list .ttbm-modal-container .ttbm-modal-content p {
  margin: 15px 0;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content h3, .travel-list .ttbm-modal-container .ttbm-modal-content h3 {
  font-size: 18px;
  padding: 0;
  margin: 5px 0;
  margin-bottom: 30px;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content input[type=text], #ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content input[type=number], #ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content textarea, #ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content select, .travel-list .ttbm-modal-container .ttbm-modal-content input[type=text], .travel-list .ttbm-modal-container .ttbm-modal-content input[type=number], .travel-list .ttbm-modal-container .ttbm-modal-content textarea, .travel-list .ttbm-modal-container .ttbm-modal-content select {
  width: 100%;
  display: block;
  font-weight: normal;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content label, .travel-list .ttbm-modal-container .ttbm-modal-content label {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  font-weight: normal;
  font-size: 18px;
  gap: 15px;
  margin: 25px 0;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area, .travel-list .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area {
  position: relative;
  max-width: 202px;
  margin: 10px 0;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area .ttbm_add_icon_image_button_area, .travel-list .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area .ttbm_add_icon_image_button_area {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 1px solid #8c8f94;
  width: 100%;
  border-radius: 3px;
}
#ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area .ttbm_add_icon_image_button_area .ttbm_image_add, #ttbm_meta_box_panel .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area .ttbm_add_icon_image_button_area .ttbm_icon_add, .travel-list .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area .ttbm_add_icon_image_button_area .ttbm_image_add, .travel-list .ttbm-modal-container .ttbm-modal-content .ttbm_add_icon_image_area .ttbm_add_icon_image_button_area .ttbm_icon_add {
  padding: 10px 26px;
  border-radius: 0;
  margin: 1px;
}

body.ttbm_settings_page {
  font-size: 16px;
  background-color: #fff;
}
body.ttbm_settings_page .ttbm_global_settings {
  padding-top: 50px;
}

div.ttbm_global_settings .tabLists {
  border-right: 0;
}

div.ttbm_style .ttbmPanelBody {
  background-color: #fff;
}

div.ttbm_global_settings .ttbmTabs {
  display: flex;
}

div.ttbm_global_settings {
  max-width: 1600px;
  margin: auto;
}
div.ttbm_global_settings select.formControl, div.ttbm_global_settings input.formControl {
  background-color: #f5f8ff;
  height: 2.5em;
}
div.ttbm_global_settings .ttbm_license_settings table {
  margin-top: 20px;
}

.ttbm_style button:hover span, .ttbm_style button:focus span {
  color: var(--mpl-dark);
}

div.ttbm_global_settings .ttbmPanelHeader {
  background: var(--mpl-primary);
}

.ttbm_style [data-tabs-target].active {
  border-left: 2px solid var(--mpl-primary);
}

div.ttbm_style select.formControl:focus {
  border: 1px solid var(--mpl-dark);
  box-shadow: none;
}

.ttbm_style [data-tabs-target]:hover {
  border-left: 2px solid var(--mpl-primary);
}

div.ttbm_global_settings .ttbm-setting-field {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
  align-items: center;
  padding: 10px;
  margin-top: -1px;
}
div.ttbm_global_settings .ttbm-setting-field .label,
div.ttbm_global_settings .ttbm-setting-field label {
  width: 49%;
}
div.ttbm_global_settings .ttbm-setting-field fieldset {
  padding: 10px;
}

div.ttbm_global_settings .ttbm-setting-field .tooltips {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--mpl-gray);
}
div.ttbm_global_settings .ttbm-setting-field .tooltips::before {
  content: "";
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  visibility: hidden;
  transition: 0s;
  z-index: 99;
}
div.ttbm_global_settings .ttbm-setting-field .tooltips::after {
  content: attr(data-tooltip);
  visibility: hidden;
  width: max-content;
  max-width: 350px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  z-index: 999;
  transition: opacity 0s ease-in-out;
  font-weight: normal;
}
div.ttbm_global_settings .ttbm-setting-field .tooltips:hover::after, div.ttbm_global_settings .ttbm-setting-field .tooltips:hover::before {
  visibility: visible;
  opacity: 1;
}

#ttbm_meta_box_panel .postbox-header, .travel-list .postbox-header {
  background: var(--mpl-gradient);
  padding: 5px;
}
#ttbm_meta_box_panel .postbox-header .handle-actions, .travel-list .postbox-header .handle-actions {
  margin-top: 0;
}
#ttbm_meta_box_panel .postbox-header .handle-actions .handle-order-higher,
#ttbm_meta_box_panel .postbox-header .handle-actions .handle-order-lower,
#ttbm_meta_box_panel .postbox-header .handle-actions .toggle-indicator, .travel-list .postbox-header .handle-actions .handle-order-higher,
.travel-list .postbox-header .handle-actions .handle-order-lower,
.travel-list .postbox-header .handle-actions .toggle-indicator {
  color: var(--mpl-white);
}
#ttbm_meta_box_panel .ttbm_settings, .travel-list .ttbm_settings {
  background-color: #fff;
}
#ttbm_meta_box_panel .ttbm_settings .tabLists, .travel-list .ttbm_settings .tabLists {
  width: 20%;
  padding: 0;
  background-color: var(--mpl-white);
  border-right: 1px solid var(--mpl-gray);
  font-size: 16px;
}
#ttbm_meta_box_panel .ttbm_settings .tabLists li, .travel-list .ttbm_settings .tabLists li {
  border-left: 0;
  border-right: 0;
  padding: 15px;
  color: var(--mpl-secondary);
  border-left: 2px solid transparent;
}
#ttbm_meta_box_panel .ttbm_settings .tabLists li i, .travel-list .ttbm_settings .tabLists li i {
  margin-right: 25px;
  color: #757575;
}
#ttbm_meta_box_panel .ttbm_settings .tabLists li::after, .travel-list .ttbm_settings .tabLists li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
}
#ttbm_meta_box_panel .ttbm_settings .tabLists li.active, .travel-list .ttbm_settings .tabLists li.active {
  background-color: var(--mpl-primary-rgba);
  color: var(--mpl-primary);
  font-weight: normal;
  border-left: 2px solid var(--mpl-primary);
}
#ttbm_meta_box_panel .ttbm_settings .tabLists li.active i, .travel-list .ttbm_settings .tabLists li.active i {
  color: var(--mpl-primary);
}
#ttbm_meta_box_panel .ttbm_settings .tabLists li:hover, .travel-list .ttbm_settings .tabLists li:hover {
  background-color: var(--mpl-light);
  color: var(--mpl-primary);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent, .travel-list .ttbm_settings .tabsContent {
  width: 80%;
  padding: 2% 5%;
  background-color: var(--mpl-light);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem > h2, .travel-list .ttbm_settings .tabsContent .tabsItem > h2 {
  padding: 0;
  color: var(--mpl-secondary);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem > p, .travel-list .ttbm_settings .tabsContent .tabsItem > p {
  color: var(--mpl-secondary);
  margin: 0;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 30px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section, .travel-list .ttbm_settings .tabsContent .tabsItem section {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1019607843);
  padding: 24px;
  margin-bottom: 24px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section:hover, .travel-list .ttbm_settings .tabsContent .tabsItem section:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .ttbm-header, .travel-list .ttbm_settings .tabsContent .tabsItem section .ttbm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--mpl-gray);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .ttbm-header h4, .travel-list .ttbm_settings .tabsContent .tabsItem section .ttbm-header h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .label, .travel-list .ttbm_settings .tabsContent .tabsItem section .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}
@media (max-width: 1200px) {
  #ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .label, .travel-list .ttbm_settings .tabsContent .tabsItem section .label {
    flex-direction: column;
  }
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .label p, .travel-list .ttbm_settings .tabsContent .tabsItem section .label p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--mpl-secondary);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .label span,
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .label a, .travel-list .ttbm_settings .tabsContent .tabsItem section .label span,
.travel-list .ttbm_settings .tabsContent .tabsItem section .label a {
  line-height: 20px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .label .text, .travel-list .ttbm_settings .tabsContent .tabsItem section .label .text {
  font-weight: normal;
  line-height: 20px;
  font-size: 13px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section textarea, .travel-list .ttbm_settings .tabsContent .tabsItem section textarea {
  width: 100%;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .roundSwitchLabel, .travel-list .ttbm_settings .tabsContent .tabsItem section .roundSwitchLabel {
  margin: 0 10px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .roundSwitchLabel input:checked + .roundSwitch, .travel-list .ttbm_settings .tabsContent .tabsItem section .roundSwitchLabel input:checked + .roundSwitch {
  background-color: var(--mpl-primary);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem section .customCheckboxLabel input:checked ~ .customCheckbox::before, .travel-list .ttbm_settings .tabsContent .tabsItem section .customCheckboxLabel input:checked ~ .customCheckbox::before {
  background: var(--mpl-primary);
  border-color: var(--mpl-primary);
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem .col-left, .travel-list .ttbm_settings .tabsContent .tabsItem .col-left {
  width: 50%;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .tabsItem .col-right, .travel-list .ttbm_settings .tabsContent .tabsItem .col-right {
  width: 50%;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent th[scope=row] label, .travel-list .ttbm_settings .tabsContent th[scope=row] label {
  display: block;
  margin-bottom: 5px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent th[scope=row] label h6, .travel-list .ttbm_settings .tabsContent th[scope=row] label h6 {
  margin-top: 10px;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .span-row, .travel-list .ttbm_settings .tabsContent .span-row {
  color: #6b7280;
  font-size: 13px;
  font-weight: normal;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .long-input, .travel-list .ttbm_settings .tabsContent .long-input {
  width: 80%;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .wp-switch-editor, .travel-list .ttbm_settings .tabsContent .wp-switch-editor {
  height: auto;
}
#ttbm_meta_box_panel .ttbm_settings .tabsContent .wp-editor-area, .travel-list .ttbm_settings .tabsContent .wp-editor-area {
  width: 100%;
  border: 0;
}
#ttbm_meta_box_panel .fullscreen-icon, .travel-list .fullscreen-icon {
  background-size: 22px 30px;
  background-position: 4px 0px;
}
#ttbm_meta_box_panel .leaflet-touch .fullscreen-icon.leaflet-fullscreen-on, .travel-list .leaflet-touch .fullscreen-icon.leaflet-fullscreen-on {
  background-position: 4px 0px;
}

.auto-search-wrapper.loupe::before {
  margin: 10px 0;
}
.auto-search-wrapper.loupe button {
  display: none;
}

.ttbm-avg-review-header {
  align-items: center !important;
}

div.ttbm_style select.formControl {
  border-radius: 5px;
}

.ttbm_style [data-tabs-target].active {
  background-color: var(--mpl-white);
  color: var(--d_color);
  border-left: 2px solid var(--mpl-primary);
}

.ttbm_style [data-tabs-target]:hover {
  border-left: 2px solid var(--mpl-primary);
  background-color: var(--mpl-white);
}

.ttbm_style .themeButton, .ttbm_style [class*=_themeButton] {
  background-color: var(--mpl-primary);
  color: var(--mpl-white);
  padding: 10px;
  border: 1px solid var(--mpl-primary);
}
.ttbm_style .themeButton i, .ttbm_style [class*=_themeButton] i {
  color: #fff;
}

@media only screen and (min-width: 0px) {
  #ttbm_meta_box_panel .tabLists {
    border-right: 0px solid var(--mpl-light);
  }
  .leftTabs [data-tabs-target] {
    border-bottom: 0px solid var(--mpl-light);
  }
  div.ttbm_global_settings label .info_text {
    line-height: 18px;
  }
  div.ttbm_style [data-tabs-target] {
    color: var(--mpl-secondary);
  }
  .ttbm_style .tabsContent {
    overflow: scroll;
  }
  code {
    line-height: 24px;
  }
  .tab-content-ttbm_date_config_meta_boxs tr th label {
    line-height: 14px;
  }
  .ttbm_style .navy_blueButton,
  .ttbm_style [class*=_navy_blueButton] {
    background-color: var(--mpl-primary);
    color: var(--mpl-white);
    padding: 0.75em;
    border: 2px solid var(--mpl-primary);
  }
  .ttbm_style .navy_blueButton:hover,
  .ttbm_style [class*=_navy_blueButton]:hover {
    background-color: var(--mpl-white);
    color: var(--mpl-primary);
    border-color: var(--mpl-primary);
  }
  .ttbm_style .navy_blueButton:hover span,
  .ttbm_style [class*=_navy_blueButton]:hover span {
    color: var(--mpl-primary);
  }
  .ttbm_style .warningButton,
  .ttbm_style [class*=_warningButton] {
    background-color: var(--mpl-yellow);
    color: var(--mpl-white);
    padding: 0.75em;
    border: 2px solid var(--mpl-yellow);
  }
  .ttbm_style .warningButton:hover,
  .ttbm_style [class*=_warningButton]:hover {
    background-color: var(--mpl-white);
    color: var(--mpl-yellow);
  }
  .ttbm_style .warningButton:hover span,
  .ttbm_style [class*=_warningButton]:hover span {
    color: var(--mpl-yellow);
  }
  div.ttbm_style select.formControl:focus {
    background-color: var(--mpl-white);
  }
  .ttbm_style .ttbm_remove_icon {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 1;
    font-size: 10px;
  }
  .ttbm_settings_panel_header {
    background: var(--mpl-secondary);
    padding: 1em 0.5em;
    color: var(--mpl-white);
    font-size: 20px;
    margin-top: 30px;
  }
  .ttbm_settings_panel {
    padding-bottom: 0.5em;
  }
  .ttbm_settings_panel .nav-tab-wrapper {
    background: var(---mpl-sky-light);
    border: 5px solid var(---mpl-sky-light);
  }
  .ttbm_settings_panel .nav-tab-wrapper .nav-tab {
    box-sizing: border-box;
    background: var(--mpl-white);
    color: var(--mpl-secondary);
    margin-bottom: 0.5em;
    border-radius: 0.25rem;
  }
  .ttbm_settings_panel .nav-tab-wrapper .nav-tab:hover {
    background: var(--mpl-primary);
    color: var(--mpl-white);
  }
  .ttbm_settings_panel .nav-tab-wrapper .nav-tab.nav-tab-active {
    background: var(--mpl-primary);
    color: var(--mpl-white);
  }
  .ttbm_settings_panel .metabox-holder {
    background: #fff;
    padding: 0;
    margin: 0;
    width: calc(100% - 300px);
    border: 15px solid var(---mpl-sky-light);
    background-color: var(---mpl-sky-light);
  }
  .ttbm_settings_panel .metabox-holder h2 {
    border-bottom: 0px solid var(--mpl-white);
    font-size: 1.625rem;
    line-height: 1.4;
    padding: 0.5em 0;
    margin: 0;
    font-weight: 300;
    background: var(---mpl-sky-light);
    color: var(--mpl-primary) !important;
  }
  .ttbm_settings_panel .metabox-holder table {
    border-collapse: separate;
    border-spacing: 0 0.1em;
    margin: 0;
    background-color: var(---mpl-sky-light);
    border-radius: 0.25rem;
  }
  .ttbm_settings_panel .metabox-holder table tr:nth-child(2n) {
    background-color: var(--mpl-white);
  }
  .ttbm_settings_panel p.submit input {
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 0.25rem;
    background: var(--mpl-primary);
    border-color: var(--mpl-primary);
    transition: 0.2s;
  }
  .ttbm_settings_panel p.submit input:hover {
    background: var(--mpl-primary);
    border-color: var(--mpl-primary);
  }
  #wpbody-content .metabox-holder {
    padding-top: 0px;
    padding-bottom: 0.5em;
  }
}
.ppof-settings .form-wrapper {
  margin-left: 250px;
  background: transparent;
}

.dFlex {
  align-items: center;
}

#ttbm_meta_box_panel #ttbm_date_config_meta_boxs .date-configeration, .travel-list #ttbm_date_config_meta_boxs .date-configeration {
  padding: 0;
  color: var(--mpl-secondary);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
#ttbm_meta_box_panel #ttbm_date_config_meta_boxs .date-configeration-desc, .travel-list #ttbm_date_config_meta_boxs .date-configeration-desc {
  color: var(--mpl-secondary);
  margin: 0;
  margin-bottom: 0px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 30px;
}
#ttbm_meta_box_panel #ttbm_date_config_meta_boxs table.form-table tr th, .travel-list #ttbm_date_config_meta_boxs table.form-table tr th {
  text-align: left !important;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--mpl-secondary);
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table, .travel-list .tab-content-ttbm_date_config_meta_boxs table,
.travel-list .tab-content-ttbm_tax_meta_boxs table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin: 0;
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr th,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr th, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr th,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr th {
  text-align: left;
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr th,
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr th,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr th,
.travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr td,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr th,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr td {
  background-color: var(--mpl-white);
  padding: 15px;
  width: 50%;
  border: 1px solid var(--mpl-gray);
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr td,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr td {
  text-align: right;
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td label,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td label, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr td label,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr td label {
  display: block;
  text-align: right;
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr td input {
  border-radius: 0.25rem;
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input.select2-search__field,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input.select2-search__field, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input.select2-search__field,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr td input.select2-search__field {
  border: 0;
}
#ttbm_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input#mep_disable_ticket_time,
#ttbm_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input#mep_disable_ticket_time, .travel-list .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input#mep_disable_ticket_time,
.travel-list .tab-content-ttbm_tax_meta_boxs table.form-table tr td input#mep_disable_ticket_time {
  margin-right: 0.5em;
}
#ttbm_meta_box_panel .form-wrap.form-builder h1,
#ttbm_meta_box_panel .form-wrap.form-builder h2,
#ttbm_meta_box_panel .form-wrap.form-builder h3,
#ttbm_meta_box_panel .form-wrap.form-builder h4,
#ttbm_meta_box_panel .form-wrap.form-builder h5,
#ttbm_meta_box_panel .form-wrap.form-builder h6,
#ttbm_meta_box_panel .form-wrap.form-builder .h1,
#ttbm_meta_box_panel .form-wrap.form-builder .h2,
#ttbm_meta_box_panel .form-wrap.form-builder .h3,
#ttbm_meta_box_panel .form-wrap.form-builder .h4,
#ttbm_meta_box_panel .form-wrap.form-builder .h5,
#ttbm_meta_box_panel .form-wrap.form-builder .h6, .travel-list .form-wrap.form-builder h1,
.travel-list .form-wrap.form-builder h2,
.travel-list .form-wrap.form-builder h3,
.travel-list .form-wrap.form-builder h4,
.travel-list .form-wrap.form-builder h5,
.travel-list .form-wrap.form-builder h6,
.travel-list .form-wrap.form-builder .h1,
.travel-list .form-wrap.form-builder .h2,
.travel-list .form-wrap.form-builder .h3,
.travel-list .form-wrap.form-builder .h4,
.travel-list .form-wrap.form-builder .h5,
.travel-list .form-wrap.form-builder .h6 {
  color: var(--mpl-dark);
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb .form-elements label, .travel-list .form-wrap.form-builder .frmb .form-elements label {
  line-height: inherit;
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li, .travel-list .form-wrap.form-builder .frmb li {
  padding-bottom: 1.5em;
  border: 1px dashed var(--mpl-gray);
  box-shadow: 0 0 0px var(--mpl-light);
  background-color: var(--mpl-light);
  margin-bottom: 0.5em;
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li.frmb-placeholder, #ttbm_meta_box_panel .form-wrap.form-builder .frmb li.ui-state-highlight, .travel-list .form-wrap.form-builder .frmb li.frmb-placeholder, .travel-list .form-wrap.form-builder .frmb li.ui-state-highlight {
  padding: 2.5em;
  background: var(---mpl-sky-light);
  border: 1px dashed var(--mpl-primary);
  clip-path: none;
  margin-bottom: 0.5em;
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li:hover, .travel-list .form-wrap.form-builder .frmb li:hover {
  border: 1px dashed var(--mpl-primary);
  box-shadow: 0 0 10px var(--mpl-light);
  background-color: var(---mpl-sky-light);
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li.delete:hover, .travel-list .form-wrap.form-builder .frmb li.delete:hover {
  border: 1px dashed var(--mpl-red);
  background-color: var(--mpl-red) -light;
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .btn, .travel-list .form-wrap.form-builder .frmb li .field-actions .btn {
  min-width: 0;
  padding: 0;
  color: var(--mpl-white);
  border-radius: 0;
  transition: all 0;
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .del-button, .travel-list .form-wrap.form-builder .frmb li .field-actions .del-button {
  background-color: var(--mpl-red);
  color: var(--mpl-white);
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .toggle-form, .travel-list .form-wrap.form-builder .frmb li .field-actions .toggle-form {
  background-color: var(--mpl-yellow);
  transition: all 0;
}
#ttbm_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .copy-button, .travel-list .form-wrap.form-builder .frmb li .field-actions .copy-button {
  background-color: var(--mpl-primary);
  color: var(--mpl-white);
}

div > .ppof-metabox {
  background: transparent;
}

.ttbm_style .ppof-button {
  width: 320px;
  border: 0px solid;
  box-shadow: none;
  background-color: var(--mpl-primary);
  border-radius: 0.25rem;
  padding: 0.5em 0.75em;
  color: var(--mpl-white);
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  min-width: 100px;
}

@media only screen and (min-width: 0px) {
  div.ttbm_multi_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }
  div.ttbm_multi_image div.ttbm_multi_image_item {
    width: calc(25% - 16px);
  }
  div.ttbm_multi_image div.ttbm_multi_image_item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  div.ttbm_style .description {
    font-size: 1rem !important;
    color: var(--mpl-secondary);
  }
}
div.ttbm_style span.ttbm_remove_multi_image {
  background-color: var(--mpl-black);
  color: var(--mpl-white);
  box-shadow: 0 0 5px var(--mpl-white);
}

div.ttbm_style span.ttbm_remove_multi_image {
  top: -7px;
  right: -7px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--mpl-gray);
  border: 5px solid var(--mpl-light);
  border-radius: 0.25rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  padding: 5px;
}

.includedd-features-section {
  margin-top: 15px;
}
.includedd-features-section .groupCheckBox {
  overflow: hidden;
  margin-bottom: 5px;
}
.includedd-features-section .customCheckboxLabel {
  float: left;
  margin-right: 10px;
  padding: 7px 7px;
  width: 225px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
}
.includedd-features-section .customCheckboxLabel .customCheckbox {
  padding: 2px;
  padding-left: 20px;
}
.includedd-features-section .customCheckboxLabel .customCheckbox i {
  color: #888;
}
.includedd-features-section .customCheckboxLabel .customCheckbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0 !important;
  height: 15px;
  width: 15px;
  background-color: var(--mpl-white);
  border: 1px solid var(--mpl-primary);
  border-radius: 2px;
}

.input-fullwidth {
  width: 100%;
  border-radius: 5px;
}

div.ttbm_style .customCheckboxLabel input:checked ~ .customCheckbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px !important;
  height: 5px;
  width: 10px;
  border: 2px solid var(--mpl-white);
  border-top: none;
  border-right: none;
  z-index: 11;
  background-color: transparent;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 3px;
  top: 4px !important;
}

.reply-enquiry-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 20px 10px;
}

.reply-enquiry-form input[type=text], .reply-enquiry-form input[type=email], .ttbm-reply-message {
  width: 100%;
  margin-bottom: 20px;
  max-width: 400px;
}

.ttbm-enquiry-list td:first-child.new {
  font-weight: bold;
}
.ttbm-enquiry-list .new {
  color: green;
}
.ttbm-enquiry-list .viewed {
  color: skyblue;
}
.ttbm-enquiry-list .replied {
  color: rgb(255, 162, 162);
}

/*# sourceMappingURL=mp_main_settings.css.map */
