/**
 * Typography
 */

// Applies a consistent margin for most common elements.
#{$main-selector} {

  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .container-fulid {
    width: 100%;
    margin: 0 auto;
  }

  // ==================

  .component {
    background-color: $color-white;
    border-radius: 0;
    padding: calc($spacing * 3);
    margin-bottom: calc($spacing * 3);
    border: 1px solid $color-gray;
  }


}