#{$main-selector}{
    .btn{
        border: 0;
        box-shadow: none;
        background-color: $color-primary;
        border-radius: $border-radius;
        padding: $spacing calc($spacing * 1.5);
        color: $color-white;
        font-size: $font-size;
        transition: all $time ease-in-out;
        &:hover{
            background-color: $color-primary;
        }
    }
}