
body.ttbm_settings_page{
    font-size: 16px;
    background-color: #fff;
    .mp_global_settings{
        padding-top: 150px;
    }
}

div.mp_global_settings .tabLists {
    border-right: 0;
}
  div.mpStyle .mpPanelBody {
    background-color: #fff;
  }
  div.mp_global_settings .mpTabs {
    display: flex;
  }
  div.mp_global_settings {
    max-width: 1600px;
    margin: auto;
    select.formControl,input.formControl{
      background-color: #f5f8ff;
      height: 2.5em;
    }
    .mp_basic_license_settings{
      table{
        margin-top: 20px;
      }
    }
    
  }
  .mpStyle button:hover span, .mpStyle button:focus span {
    color: var(--mpl-dark);
  }
  div.mp_global_settings .mpPanelHeader {
    background: var(--mpl-primary);
  }
  .mpStyle [data-tabs-target].active {
    border-left: 2px solid var(--mpl-primary);
  }
  div.mpStyle select.formControl:focus {
    border: 1px solid var(--mpl-dark);
    box-shadow: none;
  }
  .mpStyle [data-tabs-target]:hover {
    border-left: 2px solid var(--mpl-primary);
  }
  
  div.mp_global_settings .ttbm-setting-field {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ececec;
    align-items: center;
    padding: 10px;
    margin-top: -1px;
    .label,
    label {
      width: 49%;
    }
    fieldset{
        padding: 10px;
    }
  }
  
  div.mp_global_settings .ttbm-setting-field .tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: var(--mpl-gray);
    &::before {
        content: '';
        position: absolute;
        bottom: 95%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
        visibility: hidden;
        transition: 0.0s;
        z-index: 99;
      }
    &::after{
        content: attr(data-tooltip);
        visibility: hidden;
        width: max-content;
        max-width: 350px;
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 6px 10px;
        border-radius: 5px;
        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        white-space: normal;
        z-index: 999;
        transition: opacity 0.0s ease-in-out;
        font-weight: normal;
    }
    &:hover::after,&:hover::before{
        visibility: visible;
        opacity: 1;
    }
  }