$purple:#C6287F;
$purple-light:#c6287f15;
$green: #00A656;
$green-light: #00a65615;
$blue: #2667D6;
$blue-light: #2667D615;
$beguni: #7E55D8;
$beguni-light: #7E55D815;
.green{
    background-color: $green-light;
    color: $green;
}
.beguni{
    background-color: $beguni-light;
    color: $beguni;
}
.blue{
    background-color: $blue-light;
    color: $blue;
}
.purple{
    background-color: $purple-light;
    color: $purple;
}
.travel-list{

    .total-found{
        color: #666666;
    }
    .badge{
        border-radius: 20px;
        padding:calc( $spacing * 0.5 ) calc( $spacing * 1);
    }
    #ttbm_list_page{
        table{
            width: 100%;
            border-collapse:separate;
            
            thead{
                
                th{
                    background-color:#F5F5F5;
                    color:#666666;
                    border: 0;
                    padding:15px;
                    vertical-align:middle;
                    
                }
            }
            tbody tr:nth-of-type(2n) th:first-child {
                background-color: var(--color_light);
            }
            tr{
                box-shadow: 0px 0px 5px #d9d9d9;
                margin: 5px 0;
                background-color: #fff;
                border-radius: 5px;
                &:nth-child(odd){
                    background-color: #d9d9d9;
                }
                td{
                    border: 0;
                    vertical-align: middle;
                    &:nth-child(2){
                        padding: 5px;
                    }
                    
                    a{
                        font-size: 14px;
                        font-family: Roboto, sans-serif;
                        font-weight: 600;
                        line-height: 1.2;
                        margin-bottom: 8px;
                        color: var(--mpl-secondary);
                    }
                    img{
                        width: 100px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

div.mpStyle [class*="textSuccess"] {
color: $green;
}