#{$main-selector}{
    .postbox-header{
        background-color: $color-secondary;
        .handle-actions{
            margin-top: 0;
            .handle-order-higher, .handle-order-lower, .toggle-indicator{
                color: $color-white;
            }
            
        }
    }
    
} 
@media only screen and (min-width: 10px) {
    #mp_meta_box_panel .tabLists {
      border-right: 0px solid var(--color_border);
    }
  }

  @media only screen and (min-width: 10px) {
    .leftTabs [data-tabs-target] {
      border-bottom: 0px solid var(--color_border);
    }
  }