#{$main-selector}{
    .postbox-header{
        background-color: $color-secondary;
        .handle-actions{
            margin-top: 0;
            .handle-order-higher, .handle-order-lower, .toggle-indicator{
                color: $color-white;
            }
            
        }
    }

    
} 
@media only screen and (min-width:0px) {
    #mp_meta_box_panel .tabLists {
      border-right: 0px solid $color-light;
    }

    .leftTabs [data-tabs-target] {
      border-bottom: 0px solid $color-light;
    }

    .leftTabs > .tabLists {
      -webkit-flex-flow: column;
      flex-flow: column;
      min-width:inherit;
      max-width:inherit;
    }
    div.mpStyle [data-tabs-target]{
      color: $color-secondary;
      
    }
}

// =============date config style customization=============
.ppof-settings{
  .form-wrapper {
    margin-left: 250px;
    background: transparent;
    
  }
}
#{$main-selector}{
  h1{
    font-size: 1.625rem;
    line-height: 1.4;
    color:$color-primary;
    font-weight: 500;
    padding: 8px 0;
  }
  .tab-content-ttbm_date_config_meta_boxs,.tab-content-ttbm_tax_meta_boxs{
    .description{
      margin: 0;
      padding:0;
    }
    table {
      border-collapse: separate; 
      border-spacing:0 calc($spacing*3);
      border: 0px solid;
      margin: 0;
    }
    table.form-table tr th,table.form-table tr td{
      background-color: $color-white;
      background-color: $color-white;
      border-radius: $border-radius;
      padding: calc($spacing*3);
      margin-bottom: calc($spacing*3);
      width:50%
    }
    table.form-table tr td{
      text-align: right;
      label{
        display: block;
        text-align: right;
      }
      input{
        border-radius:$border-radius;
      }
      input.select2-search__field{
        border: 0;
      }
      input#mep_disable_ticket_time{
        margin-right: $spacing;
      }
    }
  }
  
}

div > .ppof-metabox {
  background: transparent;
}

.mpStyle .ppof-button{
  border-radius: $border-radius;
  background-color: $color-sky;
  border: 0px solid transparent;
  padding: $spacing ($spacing*2);
  box-shadow: none;
}