
.auto-search-wrapper.loupe {
  &::before {
    margin: 10px 0;
  }
  button {
    display: none;
  }
}
.ttbm-avg-review-header {
  align-items: center !important;
}

div.ttbm_style select.formControl {
  border-radius: 5px;
}

.ttbm_style [data-tabs-target].active {
  background-color: var(--mpl-white);
  color: var(--d_color);
  border-left: 2px solid var(--mpl-primary);
}

.ttbm_style [data-tabs-target]:hover {
  border-left: 2px solid var(--mpl-primary);
  background-color: var(--mpl-white);
}

.ttbm_style .themeButton, .ttbm_style [class*="_themeButton"]{
  background-color: var(--mpl-primary);
  color: var(--mpl-white);
  padding: 10px;
  border: 1px solid var(--mpl-primary);
  i{
    color: #fff;
  }
}

@media only screen and (min-width: 0px) {
  #ttbm_meta_box_panel .tabLists {
    border-right: 0px solid var(--mpl-light);
  }

  .leftTabs [data-tabs-target] {
    border-bottom: 0px solid var(--mpl-light);
  }

  div.ttbm_global_settings label .info_text {
    line-height: 18px;
  }

  div.ttbm_style [data-tabs-target] {
    color: var(--mpl-secondary);
  }
  .ttbm_style .tabsContent {
    overflow: scroll;
  }
  code {
    line-height: 24px;
  }
  .tab-content-ttbm_date_config_meta_boxs {
    tr {
      th {
        label {
          line-height: 14px;
        }
      }
    }
  }

  .ttbm_style .navy_blueButton,
  .ttbm_style [class*="_navy_blueButton"] {
    background-color: var(--mpl-primary);
    color: var(--mpl-white);
    padding: calc(.5em * 1.5);
    border: 2px solid var(--mpl-primary);

    &:hover {
      background-color: var(--mpl-white);
      color: var(--mpl-primary);
      border-color: var(--mpl-primary);

      span {
        color: var(--mpl-primary);
      }
    }
  }

  .ttbm_style .warningButton,
  .ttbm_style [class*="_warningButton"] {
    background-color: var(--mpl-yellow);
    color: var(--mpl-white);
    padding: calc(.5em * 1.5);
    border: 2px solid var(--mpl-yellow);

    &:hover {
      background-color: var(--mpl-white);
      color: var(--mpl-yellow);

      span {
        color: var(--mpl-yellow);
      }
    }
  }

  div.ttbm_style select.formControl:focus {
    background-color: var(--mpl-white);
  }
  .ttbm_style .ttbm_remove_icon {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 1;
    font-size: 10px;
  }
  // settings page css==================
  .ttbm_settings_panel_header {
    background: var(--mpl-secondary);
    padding: calc(.5em * 2) .5em;
    color: var(--mpl-white);
    font-size: 20px;
    margin-top: 30px;
  }
  .ttbm_settings_panel {
    padding-bottom: .5em;

    .nav-tab-wrapper {
      background: var(---mpl-sky-light);
      border: 5px solid var(---mpl-sky-light);

      .nav-tab {
        box-sizing: border-box;
        background: var(--mpl-white);
        color: var(--mpl-secondary);
        margin-bottom: .5em;
        border-radius:.25rem;

        &:hover {
          background: var(--mpl-primary);
          color: var(--mpl-white);
        }

        &.nav-tab-active {
          background: var(--mpl-primary);
          color: var(--mpl-white);
        }
      }
    }

    .metabox-holder {
      background: #fff;
      padding: 0;
      margin: 0;
      width: calc(100% - 300px);
      border: 15px solid var(---mpl-sky-light);
      background-color: var(---mpl-sky-light);

      h2 {
        border-bottom: 0px solid var(--mpl-white);
        font-size: 1.625rem;
        line-height: 1.4;
        padding:.5em 0;
        margin: 0;
        font-weight:300;
        background: var(---mpl-sky-light);
        color: var(--mpl-primary) !important;
      }

      table {
        border-collapse: separate;
        border-spacing: 0 0.1em;
        // border: 2px solid var(--mpl-primary);
        margin: 0;
        background-color: var(---mpl-sky-light);
        border-radius:.25rem;

        tr:nth-child(2n) {
          background-color: var(--mpl-white);
        }
      }
    }

    p.submit input {
      font-size: 16px;
      padding: 5px 30px;
      border-radius:.25rem;
      background: var(--mpl-primary);
      border-color: var(--mpl-primary);
      transition: 0.2s;

      &:hover {
        background: var(--mpl-primary);
        border-color: var(--mpl-primary);
      }
    }
  }
  #wpbody-content .metabox-holder {
    padding-top: 0px;
    padding-bottom: .5em;
  }
}

// =============date config style customization=============

.ppof-settings {
  .form-wrapper {
    margin-left: 250px;
    background: transparent;
  }
}

.dFlex{
  align-items: center;
}

#{$main-selector} {

  #ttbm_date_config_meta_boxs .date-configeration{
    padding: 0;
    color: var(--mpl-secondary);
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  }
  #ttbm_date_config_meta_boxs .date-configeration-desc{
    color: var(--mpl-secondary);
    margin: 0;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 30px;
  }
  

  #ttbm_date_config_meta_boxs {
    table.form-table tr th{
      text-align: left !important;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      color: var(--mpl-secondary);
    }
  }
  .tab-content-ttbm_date_config_meta_boxs,
  .tab-content-ttbm_tax_meta_boxs {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;
      margin: 0;
    }
    table.form-table tr th{
      text-align: left;
    }
    table.form-table tr th,
    table.form-table tr td {
      background-color: var(--mpl-white);
      padding: 15px;
      width: 50%;
      border: 1px solid var(--mpl-gray);
    }

    table.form-table tr td {
      text-align: right;
      label {
        display: block;
        text-align: right;
      }

      input {
        border-radius: .25rem;
      }

      input.select2-search__field {
        border: 0;
      }

      input#mep_disable_ticket_time {
        margin-right: .5em;
      }
    }
  }

  // form builder custom code==========

  .form-wrap.form-builder {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: var(--mpl-dark);
    }

    .frmb {
      .form-elements {
        label {
          line-height: inherit;
        }
      }
      li {
        padding-bottom: calc(.5em * 3);
        border: 1px dashed var(--mpl-gray);
        box-shadow: 0 0 0px var(--mpl-light);
        background-color: var(--mpl-light);
        margin-bottom: .5em;

        &.frmb-placeholder,
        &.ui-state-highlight {
          padding: calc(.5em * 5);
          background: var(---mpl-sky-light);
          border: 1px dashed var(--mpl-primary);
          clip-path: none;
          margin-bottom: .5em;
        }

        &:hover {
          border: 1px dashed var(--mpl-primary);
          box-shadow: 0 0 10px var(--mpl-light);
          background-color: var(---mpl-sky-light);
        }

        &.delete {
          &:hover {
            border: 1px dashed var(--mpl-red);
            background-color: var(--mpl-red)-light;
          }
        }

        .field-actions {
          .btn {
            min-width: 0;
            padding: 0;
            color: var(--mpl-white);
            border-radius: 0;
            transition: all 0;
          }

          .del-button {
            background-color: var(--mpl-red);
            color: var(--mpl-white);
          }

          .toggle-form {
            background-color: var(--mpl-yellow);
            transition: all 0;
          }

          .copy-button {
            background-color: var(--mpl-primary);
            color: var(--mpl-white);
          }
        }
      }
    }
  }
}

div > .ppof-metabox {
  background: transparent;
}

.ttbm_style .ppof-button {
  width: 320px;
  border: 0px solid;
  box-shadow: none;
  background-color: var(--mpl-primary);
  border-radius:.25rem;
  padding: .5em calc(.5em * 1.5);
  color: var(--mpl-white);
  font-size: 1rem;
  transition: all .5s ease-in-out;
  min-width: 100px;
}

@media only screen and (min-width: 0px) {
  div.ttbm_multi_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: .5em;
    margin-bottom:.5em;

    div.ttbm_multi_image_item {
      width: calc(25% - 16px);

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  div.ttbm_style .description {
    font-size: 1rem !important;
    color: var(--mpl-secondary);
  }
}

div.ttbm_style span.ttbm_remove_multi_image {
  background-color: var(--mpl-black);
  color: var(--mpl-white);
  box-shadow: 0 0 5px var(--mpl-white);
}

div.ttbm_style span.ttbm_remove_multi_image {
  top: -7px;
  right: -7px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--mpl-gray);
  border: 5px solid var(--mpl-light);
  border-radius:.25rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  padding: 5px;
}

.includedd-features-section {
  margin-top: 15px;
  .groupCheckBox {
    overflow: hidden;
    margin-bottom: 5px;
  }
  .customCheckboxLabel {
    float: left;
    margin-right: 10px;
    padding: 7px 7px;
    width: 225px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    .customCheckbox {
      padding: 2px;
      padding-left: 20px;
      i {
        color: #888;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0 !important;
        height: 15px;
        width: 15px;
        background-color: var(--mpl-white);
        border: 1px solid var(--mpl-primary);
        border-radius: 50px;
      }
      
    }
  }
}
.input-fullwidth{
  width: 100%;
  border-radius: 5px;
}
div.ttbm_style .customCheckboxLabel input:checked ~ .customCheckbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px !important;
  height: 5px;
  width: 10px;
  border: 2px solid var(--mpl-white);
  border-top:none;
  border-right:none;
  z-index: 11;
  background-color: transparent;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
	left: 3px;
  top: 4px !important;
}

// ==================Enquiry form=====================
.reply-enquiry-form{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 10px;
	padding: 20px 10px;
}
.reply-enquiry-form input[type=text],.reply-enquiry-form input[type=email],.ttbm-reply-message{
	width: 100%;
	margin-bottom: 20px;
	max-width: 400px;
}
.ttbm-enquiry-list{
	td:first-child{
		&.new{
			font-weight: bold;
		}
	}
	.new{
		color: green;
	}
	.viewed{
		color: skyblue;
	}
	.replied{
		color: rgb(255, 162, 162);
	}
}

